In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import sqlite3
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [2]:
file1 = 'Resources/original/clean_hawaii_measurements.csv'
file2 = 'Resources/original/clean_hawaii_stations.csv'

In [3]:
df1= pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [9]:
df1.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [10]:
class Measurement(Base):
    __tablename__ = 'Measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float(255))
    tobs = Column(Integer)
    
class Stations(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float(255))
    longitude = Column(Float(255))
    elevation = Column(Float(255))

C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Measurement, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'Measurement' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [5]:
engine = create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)

In [6]:
df1.to_sql("Measurement",engine,if_exists = "append", index = False)

OperationalError: (sqlite3.OperationalError) table Measurement has no column named prcp [SQL: 'INSERT INTO "Measurement" (station, date, prcp, tobs) VALUES (?, ?, ?, ?)'] [parameters: (('USC00519397', '2010-01-01', 0.08, 65), ('USC00519397', '2010-01-02', 0.0, 63), ('USC00519397', '2010-01-03', 0.0, 74), ('USC00519397', '2010-01-04', 0.0, 76), ('USC00519397', '2010-01-06', None, 73), ('USC00519397', '2010-01-07', 0.06, 70), ('USC00519397', '2010-01-08', 0.0, 64), ('USC00519397', '2010-01-09', 0.0, 68)  ... displaying 10 of 19550 total bound parameter sets ...  ('USC00516128', '2017-08-22', 0.5, 76), ('USC00516128', '2017-08-23', 0.45, 76))]

In [7]:
df2.to_sql("Station",engine,if_exists = "append", index = False)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73